<main id="display">
  <section id="player-hand">
    <section class="cards"></section>
    <p class="hand-info"></p>
  </section>
  <p id="end-info"></p>
  <section id="dealer-hand">
    <section class="cards"></section>
    <p class="hand-info"></p>
  </section>
  <p id="start-notice">press "deal" to start</p>
</main>
<nav id="game-start-actions" class="active">
  <button id="deal" class="game-action theme"><span>d</span>eal</button>
</nav>
<nav id="game-play-actions">
  <button id="hit" class="game-action theme" data-action-type="0"><span>h</span>it</button
  ><button id="stand" class="game-action theme" data-action-type="1"><span>s</span>tand</button>
</nav>
