header.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background2);
  
  #title {
    width: min-content;
    font-family: var(--serif);
    margin: 0;
    text-align: center;
    transform: scale(2.5, 1);
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
