button.theme {
  font-family: var(--sans-serif);
  font-size: 1rem;
  border: 2px solid var(--border);
  background-color: inherit;
  padding: 0.25rem 0.5rem;
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--hover);
    cursor: pointer;
  }
}
